.button {
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.8em 2em;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    background: linear-gradient(145deg, #ff0077, #7a00ff);
    box-shadow: 2px 2px 0 #5a0055, 3px 3px 5px #555;
    transition: all 0.2s ease-in-out;
}


.button:hover {
    transform: translateY(3px);
}

